{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    
  <table class="table" style="text-align: center; margin: 2rem 0 ;">        
    <thead>      
      <tr> 
        <th scope="col">License Plate</th>
        <th scope="col">Resident</th> 
        <th scope="col">Total Amount</th>            
      </tr>
    </thead>
    
    <tbody>        
      {% for car in object_list %}
      <tr>
        <th scope="row">{{car.license_plate}}</th>
        <td>{{car.resident}}</td> 
        <td><button><a href="{% url 'bill' car.license_plate %}">View Total Amount</a></button></td>      
      </tr> 
    {% endfor %}     
    </tbody>
      
  </table>
</div>
{% endblock %}